{:duct.core/project-ns  duct-todo-demo
 :duct.core/environment :production

 :duct.module/logging {}
 :duct.module.web/site {}
 :duct.module.web/api {}
 :duct.middleware.web/defaults
 {:security {:anti-forgery false}}

 :duct.module/cljs {:main duct-todo-demo.client}
 :duct.module/sql {}

 :duct.migrator/ragtime
 {:migrations [#ig/ref :todo.migration/create-todos]}

 [:duct.migrator.ragtime/sql :todo.migration/create-todos]
 {:up   ["CREATE TABLE todos (id INTEGER PRIMARY KEY AUTOINCREMENT, name TEXT, description TEXT);"]
  :down ["DROP TABLE todos;"]}

 :duct.router/cascading
 [
  #ig/ref :duct-todo-demo.handler/example
  #ig/ref :duct-todo-demo.handler/api
  ]

 :duct-todo-demo.handler/example
 {}

 :duct-todo-demo.handler/api
 {
  :db #ig/ref :duct.database/sql
  }

 }
